@* 
*@

@{
    <div class="text-center"> 
        <h1> Some of the hardest pics I've found to date</h1>
    </div>
    <div class="text-center">
    <img src = "https://qph.fs.quoracdn.net/main-qimg-708f661ac645c9e04575cc59ad27c0cf"  alt="Laughing King Emote" class="center-block">
    </div>
    <p> </p>
    <div class="text-center">
    <img src = "https://i.ytimg.com/vi/DyMMcwmJLIU/hqdefault.jpg"  alt="Laughing King Emote" class="center-block">
    </div>
    <p> </p> 
    <div class="text-center">
    <img src = "https://img.discogs.com/GCWjR7T5PIn7I38J9hegnMdOPng=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/A-3739218-1490705047-5626.jpeg.jpg"  alt="Laughing King Emote" class="center-block">
    </div>
    <p> </p> 
    <div class="text-center">
    <img src = "https://upload.wikimedia.org/wikipedia/commons/d/d4/Macarthur_hirohito.jpg"  alt="Laughing King Emote" class="center-block">
    </div>
    <p> </p>
    <div class="text-center">
    <img src = "https://i.redd.it/7hf2j25sxeq61.png"  alt="Laughing King Emote" class="center-block">
    </div>
    <p> </p>
    <div class="text-center">
    <img src = "https://i.ytimg.com/vi/2MCFwDhoqqc/sddefault.jpg"  alt="Laughing King Emote" class="center-block">
    </div>

}
